{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table style="width:100%">
    <tr>
        <td><img src="/static/images/cat.jpg" height="200" width="200" ></td>
        <td><img src="/static/images/cat1.jpg" height= "200" width="200" ></td>
        <td><img src="/static/images/kitty1.jpg" height="200"; width= "200" ></td>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>

{% endblock %}
